
.admin-page-content{
    font-family:微软雅黑;
    background-color: #eeeeee;
    min-height: 666px;
}


.frame_header{
    width:100%;
    background-color:#333333;
    border-radius: 1px;
    margin: 0 auto;
    color:white;
    box-shadow: 0 0 5px #777;
    padding:13px 2.5%;
}




.left_menu{
    width:21%;
    display: inline-block;
}


.main-content{
    display: inline-block;
    width:79%;
    margin-top:10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.sub-main-content{
    -webkit-box-shadow: 0 0 5px #999;
    -moz-box-shadow: 0 0 5px #999;
    box-shadow: 0 0 5px #999;
    padding:10px;
    border-radius: 2px;
    background-color: #eee;
    font-size:14px;
    font-family: "微软雅黑", helvetica, arial, sans-serif;
    min-height: 500px;
    color:#333333;
}

.header-flg{
    font-size:16px;
    padding-left:1%;
    display:inline-block;
}

.second_row:after{
    content:' ';
    display:block;
    visibility: hidden;
    height:0;
    clear:both;
    zoom:1;
}

.third_row{
    text-align: center;
    color:#777777;
}




